[Unit]

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/cityservice
WorkingDirectory=/home/
User=root
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n